
<form action="/dashboard/add" method="post">

    <div>
      <input type="text" placeholder="Item name" name="name" value="{{{username}}.{{item}}}">
    </div>

    <div>
      <input type="text" value="{{{username}}.{{price}}}" placeholder="price" name="price">
    </div>

    <div>
      <input type="date" placeholder="date" value="{{{username}}.{{date}}}" name="date">
    </div>

    <div>
      <input type="submit" value="Add this item">
    </div>
  </form>
